footer {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: calc(1rem + 1%);
    line-height: 1.4;

    @include min768{
        flex-direction: row;
        justify-content: space-between;
    }
}

footer > div,
.ftr-copyright {
    margin-bottom: 1.75rem;
}

footer ul {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
    margin: 1rem auto;
    
    @include min768 {
        
        height: 200px;
        flex-wrap: wrap;
    }
}
