header {
    background-color: $clr-primary;
    z-index: 5;
}

.headercontainer {
    @extend %adjust-maxwidth;
    height: 62px;
    border-bottom: 2px solid $border-beige;
    padding: 0;
    background-color: $clr-primary;
    transition: height 0.6s ease-in-out;
    @include min768 {
        height: 78px;
        border: none;
        z-index: 1;
    }
}

/* --- BOOTSTRAP OVERRIDES ------------------- */

.navbar {
    background-color: $clr-primary;
    box-shadow: 0px 20px 20px -10px rgba(90, 90, 90, 0.1);
}

/* --- OSF LOGO HOME BUTTON ------------------ */

.homebutton {                       //The anchor tag which is placed upon the OSF full logo
    position: relative;
    margin: 0 auto;
    width: 73px;
    height: 62px;
    a {
        position: absolute;
        left: 0;
        width: 100%;
        height: 62px;
        z-index: 1;
    }
    @include min768 {
        width: 260px;
        margin: 0 5%;
    }
}

.brandtitle {                       //Logo img + "OSF Academy" text
    position: absolute;
    left: 5px;
    width: 160px;
    height: 62px;
    h2 {
        display: none;
        @include min768 {
            display: block;
            width: 160px;
        }
    }
}

.brandtitle__logo {                  //OSF logo image
    position: relative;
    top: 8px;
    left: 8px;
    width: 46px;
    height: 46px;
    margin:auto;
    transition: height 0.6s ease-out;
    @include min768 {
        width: 63px;
        height: 65px;
        top: 0;
    }
}

.brandtitle__OSF {                  //"OSF" text
    position: relative;
    top: -62px;
    left: 73px;
    width: 74px;
    color: $clr-secondary;
    font-family: $Lato;
    font-weight: 900;
    font-size: 32px;
    letter-spacing: 6.33px;
}

.brandtitle__Academy {              //"Academy" text
    position: relative;
    top: -75px;
    left: 73px;
    width: 74px;
    height: 17px;
    color: $clr-accent;
    font-family: $Lato;
    font-size: 18px;
    font-weight: 400;
}

.toggle-btn {
    position: absolute;
    top: 12.5px;
    left: calc(12.5px);
    font-size: 40px;
    @include min1280 {
        display: none;
    }
}

.navbar-toggler {
    border:none;
}

/* --- NAVBAR LIST --------------------------- */

.navcontainer {                     //Bootstrap override
    position: relative;
    width: 100vw;
    background-color: $clr-secondary;
    z-index: 1;
    @include min768 {
        position: unset;
        height: calc(100% - 15px);
        margin-top: auto;
        background-color: transparent;
    }
}

.navlist {
    @include min768 {
        margin-left: auto;
        margin-right: 0;
    }
}

.navlist,                           //Bootstrap override
.nav-item,
.nav-link {
    z-index: inherit;
    @include min768 {
        height: 100%;
    }
}

.nav-link {                         //Bootstrap override
    margin: 0;
    border: none;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: calc(15px + 1%) !important;
    font-weight: 700;
    font-size: 14px;
    @extend %megadropmenu-linkcoloring;

    @include min768 {               //Styles the anchor tags on navbar
        margin: 0 2.5px;
        padding-top: 13px;
        padding-left: 8px !important;
        color: $clr-secondary;
        transition: all 0.2s ease-in-out;
        &:hover {
            margin: 0;
            border-bottom: 2px solid $clr-accent;
            background-color: $clr-primary-dark;
            color: $clr-accent;
        }
    }
}

.lang-and-currency {
    display: none;
    @include min950 {
        display: block;
    };
}

/* --- DROPDOWN MENU ------------------------- */

.dropdown-menu {                    //Bootstrap override
    margin-top: 0;
    border: none;                  
    border-radius: 0;
    z-index: 5;
    & > div {
        @include min768 {
            padding-left: 2.25rem;
        }
        @include min950 {
            padding-left: 0;
        }
    }
}

.dropdown:hover .dropdown-menu {    //Bootstrap override
    @include min768 {               //Makes the dropdown menu open when on hover
        display: block;
    }
}

.ddmenu1 {
    margin: 0;
    padding: 0;
    background-color: $clr-secondary;
    a {
        font-weight: 400;
        font-size: 14px;
        @extend %megadropmenu-linkcoloring;
    }
    p {
        color: $text-white;
        font-weight: 700;
        font-size: 14px;
        &:hover {
            background-color: transparent;
            color: $text-white;
        }
    }
    @include min768 {
        position: relative;
        left: 0;
    }
}

.ddmenu2 {
    background-color: $clr-primary-dark;
    .dropdown-item {
        color: $clr-secondary;
        font-weight: 700;
        font-size: 15px;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: $clr-primary;
            color: $clr-accent;
        }
    }
}

.megamenu-title {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: calc(24px + 1%);
    @include min768 {
        padding-left: 16px;
    }
}

.megamenu-categories {
    margin-bottom: 8px;
    @include min768 {
        height: 248px;
    }
}

.megamenu-link {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: calc(32px + 1%);
    @include min768 {
        padding-left: 16px;
        padding-right: 8vw;
    }
    @include min950 {
        padding-right: 4vw;
    }
    @media screen and (min-width:1200px) {
        padding-right: 8vw;
    }
}
