.sec-popular-items {
    background-color: $clr-secondary;
    padding: 2rem 2rem 4rem 2rem;
}

.sec-wrapper {
    @extend %adjust-maxwidth;
}

.populars-title .inpage-title__border {
    border-color: $text-darkgray;
}

.card-frame {
    border: none;
    position: relative;
    overflow: hidden;
    &:hover .product-card-onHover,
    &:active .product-card-onHover {
        transform: translateY(0%);
    }
}

.product-card {
    border: none;
    border-radius: 7.5px;
}

.product-card-onHover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    border-radius: 7.5px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(27, 216, 175, 0.8), rgba(25, 184, 78, 0.8));
    transform: translateY(200%);
    transition: transform 0.2s ease-in-out;
}


.load-more-div {
    margin-top: 2rem;
    text-align: center;
}