/* --- GLOBAL -------------------------------- */

.btn {                  //Bootstrap override
    &:focus,
    &:active {
    outline: none !important;
    box-shadow: none !important;
    }
}

.my-btn {
    margin: 1rem;
    border: 2px solid $border-beige;
    border-radius: 30px;
    padding: 8px 32px;
    text-decoration: none;
    font-size: 14px;
}

.facebook-btn {
    border-color: #3a5b96;
    color: #3a5b96;
    font-size: 14px;
    &:hover,
    &:active  {
        background-color: #3a5b96;
        color: $text-white;
    }
    
}

/* --- HEADER -------------------------------- */

.nav__dropbtn-1 {
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 15px calc(99% - 90.6px) 15px calc(15px + 1%);      //pd-right here is to prevent the button from overflowing 
    font-weight: 700;                                           //the page full-width, which would cause a side-scrolling.
    font-size: 14px;
    @extend %megadropmenu-linkcoloring;

    @include min768 {
        margin: 0 5px;
        padding: 12px 12px 30px 12px;
        color: $text-anthracite;
        transition: all 0.2s ease-in-out;
        &:hover,
        &:active  {
            margin: 0 2.5px;
            padding-bottom: 28px;
            font-size: 15px;
            background-color: $clr-secondary;
            color: $text-white;
        }
    }
}

.nav__dropbtn-2 {
    margin: 0 5.5px;
    border: none;
    border-radius: 0;
    padding: 12px 6px 30px 6px;
    font-weight: 700;
    font-size: 14px;
    color: $text-lightgray;
    transition: all 0.2s ease-in-out;
    
    &:hover,
    &:active  {
        margin: 0 2.5px;
        padding-bottom: 28px;
        font-size: 15px;
        background-color: $clr-primary-dark;
        color: $clr-secondary;
    }
}

/* --- HOME PAGE ----------------------------- */

.productcard-hover-btns {
    display: inline-block;
    margin: 0 10px;
    border: none;
    border-radius: 50%;
    padding: 30px;
    background-color: $clr-primary;
    transition: background-color 0.2s ease-in-out;
    &:hover,
    &:active {
        background-color: $clr-sec-light;
    }
}

.view-more-btn{
    border-color: $text-white;
    color: $text-white;
    margin: 0;
    &:hover,
    &:active {
        border-color: $clr-accent;
        background-color: $clr-accent;
        color: $text-white;
    }
}

/* --- PRODUCT PAGE -------------------------- */

.choosecolor-btn {
    margin: 0;
    padding: 5.5px 32px;
    color: $text-darkgray;
}

.add-cart-btn {
    margin-left: 0;
    background-color: $clr-accent;
    color: $text-white;
    transition: all 0.2s ease-in-out;
    &:hover,
    &:active {
        border-color: $clr-accent;
        background-color: $clr-primary;
        color: $clr-accent;
    }
}

.tab-btns {
    border: none;
    border-radius: 20px 20px 0 0;
    padding: 1.5rem 3%;
    background-color: $clr-primary;
    color: $text-gray;
    font-weight: 700;
    font-size: 14px;
    @media screen and (min-width:550px) {
        font-size: 20px;
    }
    @include min768 {
        font-size: 24px;
    }
}

.active {
    background-color: $clr-secondary;
    color: $text-white;
}
