%adjust-maxwidth {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

%megadropmenu-linkcoloring {
    color: $text-white;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: $clr-sec-light;
        color: $clr-accent;
    }
}

