/* --- GLOBAL -------------------------------- */

* {
    font-family: $Lato;
}

a {
    text-decoration: none;
    color: $clr-accent;
    transition: color 0.1s ease-in-out;
    &:hover,
    &:active  {
        color: $clr-secondary;
        text-decoration: solid;
    }
}

/* --- INPAGE -------------------------------- */

.inpage-nav {
    margin: 1.5rem 1rem auto 1rem;
    text-align: center;
}

.inpage-nav__slash {
    margin: 1rem;
    color: $border-gray;
}

.inpage-title {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 5%;
    margin-bottom: 2rem;
}

.inpage-title h1 {
    margin: .75rem auto;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    color: $text-anthracite;
}

.inpage-title__border {
    height: 40px;
    border-bottom: 2px solid $clr-lines;
}

/* --- HEADER -------------------------------- */

.nav-link {
    @include min768 {
        font-weight: 700;
        font-size: 14px;
        color: $text-anthracite;
        transition: all 0.2s ease-in-out;
        &:hover,
        &:active  {
            font-size: 15px;
            color: $clr-accent;
        }
    }
}

/* --- FOOTER -------------------------------- */

.footer-hdng {
    font-weight: 700;
    font-size: 13px;
}

.ftr p,
.ftr li {
    font-weight: 400;
    font-size: 13px;
    list-style-type: none;
}

.ftr a {
    color: $text-anthracite;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
    &:hover,
    &:active  {
        color: $clr-accent;
    }
}

/* --- LOGIN MODAL --------------------------- */

.modal-header {
    text-align: center;
}

.modal-title {
    font-weight: 900;
}

.modal-body {
    text-align: left;
}

.form-texts {
    font-size: 14px;
}

.form-links {
    font-size: 12px;
}

.modal-footer {
    text-align: center;
}

/* --- HOMEPAGE SECTIONS --------------------- */

.inslide-texts-container { //Texts themselves
    color: $text-white;
    h1 {
        font-family: $Myriad-Pro;
        font-weight: 700;
        font-size: 3rem;
        line-height: 3rem;
    }
    p {
        font-family: $Lato;
        font-weight: 400;
        font-size: 1rem;
        @include min768 {
            padding-top: 3rem;
        }
    }
}

.carousel-sidebar__discount__texts {
    h1 {
        margin-top: 0;
        margin-bottom: 2rem;
        font-family: $Lato;
        font-weight: 900;
        font-size: 100px;
        color: $text-white;
    }
    p {
        margin: 0 auto;
        width: 100px;
        font-family: $Lato;
        font-weight: 400;
        font-size: 24px;
        color: $text-white;
    }
}

.carousel-sidebar__contact__texts {
    text-align: center;
    h6 {
        font-size: 17px;
    }
    p {
        font-size: 14px;
    }
}

.populars-title {
    h1{
        font-size: 2rem;
        color: $text-white;
        transition: font-size 0.6s ease-in-out;
        @include min768 {
            font-size: 3rem;
        }
    }
}

.card-body {
    text-align: center;
}

.card-title {
    font-weight: 400;
    font-size: 20px;
    color: $text-gray;
}

.card-text {
    font-weight: 900;
    font-size: 18px;
    color: $clr-secondary;
}

.sec-banner__texts {
    color: $text-white;  
    h1 {
        font-family: $Lato;
        font-weight: 900;
        font-size: 2rem;
        transition: font-size 0.6s ease-in-out;
        @include min768{
            font-size: 2.5rem;
        }
        @include min1280{
            font-size: 3rem;
        }
    }
    p {
        font-family: $Lato;
        font-weight: 400;
        font-size: 0.8rem;
        transition: font-size 0.6s ease-in-out;
        @include min768{
            font-size: 1rem;
        }
    }
}



/* --- 404 PAGE ------------------------------ */

.p404__ooopstext > h3 {
    font-size: 5rem;
    font-weight: 900;
    color: $clr-accent;
    text-align: center;
    transition: font-size 0.6s ease-in-out;

    @include min768 {
        font-size: 6rem;
    }
    @include min1280 {
        font-size: 7rem;
    }
}

.p404__sorrytext > h4 {
    font-size: 1.5rem;
    font-weight: 900;
}

.p404__sorrytext > p {
    color: $text-darkgray;
}

/* --- PRODUCT DETAILED PAGE ----------------- */

.product-details__info {
    h3 {
        font-weight: 900;
        font-size: 3rem;
        color: $text-anthracite;
    }
    p {
        color: $text-darkgray;
    }
    span {
        color: $text-lightgray;
    }
}