/* --- GLOBAL -------------------------------- */

* {
    font-family: $Lato;
}

.inpage-nav {
    margin: 1.5rem 1rem auto 1rem;
    text-align: center;
}

.inpage-nav__slash {
    margin: 1rem;
    color: $border-gray;
}

.inpage-title {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 5%;
    margin-bottom: 2rem;
}

.inpage-title h1 {
    margin: .75rem auto;
    text-align: center;
    font-size: 3rem;
    color: $text-anthracite;
}

.inpage-title__border {
    height: 40px;
    border-bottom: 2px solid $clr-lines;
}

/* --- HEADER -------------------------------- */

.nav-link {
    @include min768 {
        font-weight: 700;
        font-size: 14px;
        color: $text-anthracite;
        transition: all 0.2s ease-in-out;
        &:hover {
            font-size: 15px;
            color: $clr-accent;
        }
    }
}

/* --- FOOTER -------------------------------- */

.footer-hdng {
    font-weight: 700;
    font-size: 13px;
}

footer p,
footer li {
    font-weight: 400;
    font-size: 13px;
    list-style-type: none;
}

footer a {
    padding: 1rem auto;
    color: $text-anthracite;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
    &:hover {
        color: $clr-accent;
    }
}

/* --- 404 PAGE ------------------------------ */

.container-404 a {
    text-decoration: none;
    color: $clr-accent;
    transition: color 0.1s ease-in-out;
    &:hover {
        color: $clr-secondary;
    }
}

.p404__ooopstext {
    font-size: 5rem;
    color: $clr-accent;
    text-align: center;
    transition: font-size 0.6s ease-in-out;

    @include min768 {
        font-size: 6rem;
    }
    @include min1280 {
        font-size: 7rem;
    }
}

.p404__sorrytext > h4 {
    font-size: 1.5rem;
    font-weight: 900;
}

.p404__sorrytext > p {
    color: $text-darkgray;
}
