/* --- COLORS -------------------------------- */

$clr-primary      : #ffffff;
        $clr-primary-dark   :darken($clr-primary, 4%);
$clr-secondary    : #262a33;
        $clr-sec-light      :lighten($clr-secondary, 7%);
$clr-tertiary     : #f1edea;
$clr-accent       : #84bc22;

$icon-gray        : #a2a09e;
$border-gray      : #a2a09e;
$border-beige     : #e8e2d6;
$border-header    : #f3f0ea;

$clr-lines        : #e5e2df;

$bckg-home-sec1   : #45413e;
$bckg-404         : #f1edea;

$text-black       : #333333;
$text-anthracite  : #45413e;
$text-darkgray    : #555555;
$text-gray        : #868380;
$text-lightgray   : #bdc3c7;
$text-white       : #ffffff;


/* --- FONTS --------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

$serif            : "Times New Roman", serif;
$sans-serif       : "Helvetica", "Arial", sans-serif;

$Lato             : "Lato", $sans-serif;
